.bg-img { 
  background-image: url(../img/img2.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;

}

.img-responsive {
  display: block; 
  max-width: 100%;
  height: auto;
}


.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(202, 198, 219, 0.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
